<a href="https://colab.research.google.com/github/aaminakowsalya/python/blob/main/Module_2_Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
# Python3 program to show that the variables with a value
# assigned in the class declaration, are class variables and
# variables inside methods and constructors are instance
# variables.

# Class for Dog


class Dog:

	# Class Variable
	animal = 'dog'

	# The init method or constructor
	def __init__(self, breed, color):

		# Instance Variable
		self.breed = breed
		self.color = color


# Objects of Dog class
Rodger = Dog("Pug", "brown")
Buzo = Dog("Bulldog", "black")

print('Rodger details:')
print('Rodger is a', Rodger.animal)
print('Breed: ', Rodger.breed)
print('Color: ', Rodger.color)

print('\nBuzo details:')
print('Buzo is a', Buzo.animal)
print('Breed: ', Buzo.breed)
print('Color: ', Buzo.color)

# Class variables can be accessed using class
# name also
print("\nAccessing class variable using class name")
print(Dog.animal)

Rodger details:
Rodger is a dog
Breed:  Pug
Color:  brown

Buzo details:
Buzo is a dog
Breed:  Bulldog
Color:  black

Accessing class variable using class name
dog

In [ ]:
# iterating in python
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
# Even strings are iterable objects, and can return an iterator:

# Example 
# Strings are also iterable objects, containing a sequence of characters:

mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

Looping Through an Iterator
We can also use a for loop to iterate through an iterable **object**

In [ ]:
# Example
# Iterate the values of a tuple:

mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
# Iterate the characters of a string:

mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
#Example
#Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

# Driver Code
myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
#iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 6
    return self

  def __next__(self):
    if self.a <= 60:
      x = self.a
      self.a += 1
      return x

myclass = MyNumbers()
myiter = iter(myclass)


print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

6
7
8
9
10

In [ ]:
# Stop after 20 iterations:

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Lambda 
#Example
#Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

In [ ]:
# lambada
c = lambda x,y,z: x+(5*y)+(7*z)
print(c(3,9,4))

76

In [ ]:
# lambada function examples takes inputs user
c = lambda x,y,z: x+(5*y)+(7*z)
f = int(input('Enter the first number : '))
g = int(input('Enter the second number : '))
h = int(input('Enter the Third number : '))
print(c(f,g,h))

Enter the first number : 7
Enter the second number : 9
Enter the Third number : 3
73

In [ ]:
# Map Function Example
# creating the list
num = {1,2,3,4}

# creating a function
def doub (n) :
  return n*2

# Getting the results using map function
res = map{doub, num}
print{List[res]}

SyntaxError: ignored

In [ ]:
# Double all numbers using map and lambda
  
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [ ]:
# Implementing the above code using for loop
# Empty list
f = []

# for loop
for i in num :
  x = i*2
  f.append(x)

print(list(f))

[2, 4, 6, 8]