<a href="https://colab.research.google.com/github/aaminakowsalya/python/blob/main/Python%20Basic%20concepts%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hello World Program**

# My first Program

In [ ]:
print('Hello World') #Hello World Program

Hello World

# Basics of Python

Variable

In [ ]:
A=50
A='Guvi'

A=[1,2,3,4,5]

userinput=25

user_input=25

UserInput=25

2user=50 # variable shoud not starts with num

user_2=25

List=35

In [ ]:
A=50
B=60
print(A+B)

110

## Data Types

In [ ]:
I=50  #Int mobile no,adhar,Roll without str
I=-50 #Int

f=3.14  #Float Kg, temp,Length, all units blong to floats
F=-3.14 #Float

S='50' #Str mail, pan, passwords
S="50" #Str
S='Guvi' #Str
S='G' #Str

S='!@#$%^&*()_+' #Str

B=True #Bool 1,pass,on,+,High,yes,Head,start
B=False #Bool 0,fail,off,-,Low,no,Tail,stop

In [ ]:
5==5

True

In [ ]:
5=='5'

False

## Data Structures

list,tuple, set and dictionary

In [ ]:
#list

l=[5,3.14,'Guvi',True,[1,2,3,4,5,6,8,9,40]] #List can contain any data types or data structures 

#  0   1     2     3          4           # Add,Remove, Manuplate,change can be done in list (List is Mutable)

print(l[2])

Guvi

In [ ]:
print(l[4])

[1, 2, 3, 4, 5, 6, 8, 9, 40]

In [ ]:
print(l[4][6])

8

In [ ]:
#Tuple

T=(5,3.14,'Guvi',True,[1,2,3,4,5,6,8,9,40]) #Tuple can contain any data types or data structures 
                                            # Tuple is immutable( it cannot change )

print(T[2])

Guvi

In [ ]:
P_Out=('Sachin','EEE',2011,'A') 

Pres_Std=['Dhoni','ECE','II-A','B']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
#Set

S={1,4,8,9,55,66,33,1,2,4,55,78,9,66,55,75}  #Set will allow the unique, Its an un order one # cant able to access the data

S

{1, 2, 4, 8, 9, 33, 55, 66, 75, 78}

In [ ]:
L=list(S)
L

[1, 66, 33, 4, 2, 8, 9, 75, 78, 55]

In [ ]:
L[2]

33

In [ ]:
Pass_Port_No=['A25','B36','C56','A25','B36','R58','D21','C56','A25','T56'] # A25-2,B36-1,C56-1 #10000
len(Pass_Port_No)

10

In [ ]:
Remove_Dup=set(Pass_Port_No)
Remove_Dup

{'A25', 'B36', 'C56', 'D21', 'R58', 'T56'}

In [ ]:
len(Remove_Dup)

6

In [ ]:
No_of_Dup=len(Pass_Port_No)-len(Remove_Dup)
print('No of Duplicate : ',No_of_Dup)

No of Duplicate :  4

In [ ]:
#Dictionary 

D={'Name':'Sachin',
   'Age':35,
   'Salary':40000}

print(D['Name'])
print(D['Salary'])

Sachin
40000

In [ ]:
Name=['Kumar','Rajesh']

In [ ]:
Emp={'Emp_Id':[55,63,28,7,92],
    'Name':['Sachin','Raina','Virat','Dhoni','Yuvaraj'],
     'Age':[40,35,37,39,42],
     'Salary':[50000,30000,35000,40000,45000],
     }

Emp

{'Age': [40, 35, 37, 39, 42],
 'Emp_Id': [55, 63, 28, 7, 92],
 'Name': ['Sachin', 'Raina', 'Virat', 'Dhoni', 'Yuvaraj'],
 'Salary': [50000, 30000, 35000, 40000, 45000]}

In [ ]:
Emp['Name'][3]

'Dhoni'

In [ ]:
print('Emp_Id : ',Emp['Emp_Id'][2])
print('Name : ',Emp['Name'][2])
print('Age : ',Emp['Age'][2])
print('Salary : ',Emp['Salary'][2])

Emp_Id :  28
Name :  Virat
Age :  37
Salary :  35000

In [ ]:
Emp['Name'].index('Virat')

2

In [ ]:
Emp['Emp_Id'].index(28)

2

In [ ]:
id=int(input('Enter Emp id :')) #63

pos=Emp['Emp_Id'].index(id) #1

print('Emp_Id : ',Emp['Emp_Id'][pos]) #63
print('Name : ',Emp['Name'][pos]) #Raina
print('Age : ',Emp['Age'][pos]) #35
print('Salary : ',Emp['Salary'][pos])#30000

Enter Emp id :63
Emp_Id :  63
Name :  Raina
Age :  35
Salary :  30000

#Conditional Statment

if, else, and elif

In [ ]:
# Age >=14 and weight>=45

Name=input('Enter Your Name : ')
Age=int(input('Enter your Age : '))
Wt=float(input('Enter Your Weight : '))

if Age>=14 and Wt>=45:
  print(Name,'You are Eligible for the Ride')
else:
  print(Name,'You are not Eligible for the Ride')

Enter Your Name : Sathish
Enter your Age : 12
Enter Your Weight : 46
Sathish You are not Eligible for the Ride

In [ ]:
# Age >=14 and weight>=45

Name=input('Enter Your Name : ')
Age=int(input('Enter your Age : '))

if Age>=14:
  Wt=float(input('Enter Your Weight : '))
  if Wt>=45:
    print(Name,'You are Eligible for the Ride')
  else:
    print(Name,'You are Not Eligible for the Ride, You are Under Weight')

else:
  print(Name,'You are Not Eligible for the Ride, You are Under Age')

Enter Your Name : Sathish
Enter your Age : 15
Enter Your Weight : 40
Sathish You are Not Eligible for the Ride, You are Under Weight

In [ ]:
#Task -1
#1000> 10%, 2000>20%,5000>25% dis 1000<Bill no discount 

Name=input('Enter Your Name : ')
Bill_Amt=float(input('Enter the Bill Amount : '))

if Bill_Amt>0:
  if Bill_Amt>1000 and Bill_Amt<=2000:
    dis=Bill_Amt*0.10
    F_Bill=Bill_Amt-dis

    print(Name,'You are purchasing for ',Bill_Amt,' And Your discount is 10% and your Final Bill Amount',F_Bill)

  elif  Bill_Amt>2000 and Bill_Amt<=5000:
    dis=Bill_Amt*0.20
    F_Bill=Bill_Amt-dis

    print(Name,'You are purchasing for ',Bill_Amt,' And Your discount is 20% and your Final Bill Amount',F_Bill)

  elif  Bill_Amt>5000:
    dis=Bill_Amt*0.25
    F_Bill=Bill_Amt-dis

    print(Name,'You are purchasing for ',Bill_Amt,' And Your discount is 25% and your Final Bill Amount',F_Bill)

  else:
    print(Name,'You are not eligible for the discount because Your bill Amount is less than 1000, your Final Bill Amount',Bill_Amt)
else:
  print("Enter the Valid Bill Amount")

Enter Your Name : Pooja
Enter the Bill Amount : -100
Enter the Valid Bill Amount

#input And Outputs

In [ ]:
# 5 / o/p 5

A=int(input())
print(A)
print(type(A))

5
5
<class 'int'>

In [ ]:
A=input()
print(A)
print(type(A))

5
5
<class 'str'>

In [ ]:
A=input()
B=input()
print(A+B)

5
20
520

In [ ]:
A=input()
B=int(input())
print(A+B)

5
20

TypeError: ignored

In [ ]:
A=input()
B=int(input())
print(A*B)

20
5
2020202020

In [ ]:
# 1 2 3 4 5  / o/p 1 2 3 4 5 

# 45 36 25  / o/p 45 36 25

A=input()

print(A)
print(type(A))

1 2 3 4 5
1 2 3 4 5
<class 'str'>

In [ ]:
A=input().split('-')  #1,2,3,4,5 / 1 2 3 4 5

print(A)

1-2-3-4-5
['1', '2', '3', '4', '5']

In [ ]:
S='Guvi Geek Network'

S.split('G')

['', 'uvi ', 'eek Network']

In [ ]:
A=input().split()
A

1 2 3 4 5 6

['1', '2', '3', '4', '5', '6']

In [ ]:
L=list(map(int,input().split()))
print(*L)

1 2 3 4 5
1 2 3 4 5

In [ ]:
#map, list comp, for loop  #1 2 4 6 1 2 4 5

B=list(map(int,A))
B

[1, 2, 3, 4, 5]

In [ ]:
print(*B)

1 2 3 4 5

In [ ]:
A

['1', '2', '3', '4', '5']

In [ ]:
print(*A)

1 2 3 4 5

In [ ]:
print('Guvi'.join(A)) #1-2-3-4-5

1Guvi2Guvi3Guvi4Guvi5

In [ ]:
print(' '.join(B))

TypeError: ignored

### Loop

for loop and While Loop

In [ ]:
S=[1,2,3,4,5,6,7,8,9,10]

for i in S:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
S=list(map(int,input().split()))
for i in S:
  print(i)

1 2 3 4
1
2
3
4

In [ ]:
Num=56

if Num%2==0:
  print('Even')
else:
  print('Odd')

Even

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]

Odd=[]
Even=[]

for i in S:
  if i%2==0:
    Even.append(i)
  else:
    Odd.append(i)

print(*Even)
print(*Odd)

12 78 96 62 88 8
45 53 11 45 99 9

In [ ]:
print(*sorted(Even,reverse=True)) # descending 
print(*sorted(Odd)) #Aescending order

96 88 78 62 12 8
9 11 45 45 53 99

In [ ]:
S=[1,2,3,4]
S.append(100)
S

[1, 2, 3, 4, 100]

In [ ]:
S.append(25)
S

[1, 2, 3, 4, 100, 25, 25]

In [ ]:
# Guvi Geek Network / G*v* G**k N*tw*rk

S='Guvi Geek Network'
D=[]

for i in S:
  if i in 'aeiouAEIOU':
    D.append('*')
  else:
    D.append(i)
print(''.join(D))

G*v* G**k N*tw*rk

In [ ]:
D=''

for i in S:
  if i in 'aeiouAEIOU':
    D=D+'*'
  else:
    D=D+i
print(D)

G*v* G**k N*tw*rk

In [ ]:
S=[1,2,3,4,5, 5 ,9 ,7, 8]  #n-1
#  0 1 2 3 4
len(S)

5

In [ ]:
#0 to 10

for i in range(10+1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 5 to 25

for i in range(5,25+1):
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
#5 to 25 / 5,8,11,14,17,20,23

for i in range(5,26+1,3):
  print(i)

5
8
11
14
17
20
23
26

In [ ]:
#100 to 80
for i in range(100,80-1,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80

In [ ]:
#10 to 6

for i in range(10,6-1,-1):
  print(i)

10
9
8
7
6

In [ ]:
#100 TO 80 100 96 92 88 84 80

for i in range(100,80-1,-4):
  print(i)

100
96
92
88
84
80

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]

Odd=[]
Even=[]

for i in S:
  if i%2==0:
    Even.append(i)
  else:
    Odd.append(i)

print(*Even)
print(*Odd)

12 78 96 62 88 8
45 53 11 45 99 9

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]
len(S)

12

In [ ]:

S[0]

12

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]

for i in range(0,len(S)):
  print(S[i])

12
45
78
96
53
11
45
62
88
99
8
9

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]
len(S)

12

In [ ]:
S=[12,45,78,96,53,11,45,62,88,99,8,9]
Odd=[]
Even=[]

for i in range(0,len(S)):
  if S[i]%2==0:
    Even.append(S[i])
  else:
    Odd.append(S[i])
print(Even)
print(Odd)

[12, 78, 96, 62, 88, 8]
[45, 53, 11, 45, 99, 9]

In [ ]:
A=[1,2,3,4,5]
B=[10,20,30,40,50,60]

for i,j in zip(A,B):
  print(i+j)

11
22
33
44
55

In [ ]:
Product={'Pro_Name':['Sugar','Salt','Rice','Dhall','Oil'],
         'Qty':[5,2,10,3,2],
         'Price':[40,20,55,70,200]}

In [ ]:
Product['Total Price']=[]
Product

{'Price': [40, 20, 55, 70, 200],
 'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Qty': [5, 2, 10, 3, 2],
 'Total Price': []}

In [ ]:
for p,q in zip(Product['Price'],Product['Qty']):
  T=p*q
  Product['Total Price'].append(T)
Product

{'Price': [40, 20, 55, 70, 200],
 'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Qty': [5, 2, 10, 3, 2],
 'Total Price': [200, 40, 550, 210, 400]}

In [ ]:
import pandas as pd

In [ ]:
data=pd.DataFrame(Product)
data

  Pro_Name  Qty  Price  Total Price
0    Sugar    5     40          200
1     Salt    2     20           40
2     Rice   10     55          550
3    Dhall    3     70          210
4      Oil    2    200          400

In [ ]:
#Task-3
Gst_5=['Salt','Milk','Soap'] #Gst 5%
Gst_12=['Sugar','Rice','SurfXL','toothpastes'] #Gst 12%
Gst_18=['Oil','Dhall','Domex','Perfume'] #Gst 18%

Product['Total Price']=[]

Product['GST-Total-Price']=[]

for n,p,q in zip(Product['Pro_Name'],Product['Price'],Product['Qty']):
  T=p*q
  Product['Total Price'].append(T)

  if n in Gst_5:
    GT=T+(T*0.05)
    Product['GST-Total-Price'].append(GT)
  elif n in Gst_12:
    GT=T+(T*0.12)
    Product['GST-Total-Price'].append(GT)
  elif n in Gst_18:
    GT=T+(T*0.18)
    Product['GST-Total-Price'].append(GT)

Product

{'GST-Total-Price': [224.0, 42.0, 616.0, 247.8, 472.0],
 'Price': [40, 20, 55, 70, 200],
 'Pro_Name': ['Sugar', 'Salt', 'Rice', 'Dhall', 'Oil'],
 'Qty': [5, 2, 10, 3, 2],
 'Total Price': [200, 40, 550, 210, 400]}

In [ ]:
sum(Product['GST-Total-Price'])

1601.8

In [ ]:
data=pd.DataFrame(Product)
data

  Pro_Name  Qty  Price  Total Price  GST-Total-Price
0    Sugar    5     40          200            224.0
1     Salt    2     20           40             42.0
2     Rice   10     55          550            616.0
3    Dhall    3     70          210            247.8
4      Oil    2    200          400            472.0

#While loop

In [ ]:
# 0 to 10
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 0 to 10

i=0

while i<=5:
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
i=0
while i<=3:
  
  print(i)
  i=i+1

0
1
2
3

In [ ]:
i=0
while i<=20:
  i=i+1
  print(i)
  i=i+2

In [ ]:
S='Guvi Geek Networking' # G*v* G**k N*tw*rk

i=0
D=[]
while i<len(S):
  if S[i] in 'aeiouAEIOU':
    
    D.append('*')
    i=i+1
    
  else:
    
    D.append(S[i])
    i=i+1
    
  

print(''.join(D))

G*v* G**k N*tw*rk*ng

In [ ]:
N=10

i=1
while i<=5:
  print(N)
  i=i+1

10
10
10
10
10

In [ ]:
S=[1,2,6,8,9,5,6,3,4,7,8,6,2,8,9]

I=0

while I<len(S):
  if S[I]==6:
    break

  else: 
    print(S[I])
    I=I+1

1
2

In [ ]:
S=[1,2,6,8,9,5,6,3,4,7,8,6,2,8,9]

I=0

while I<len(S):
  if S[I]==6:
    pass
    I=I+1

  else: 
    print(S[I])
    I=I+1

1
2
8
9
5
3
4
7
8
2
8
9

In [ ]:
S=[1,2,6,8,9,5,6,3,4,7,8,6,2,8,9]

I=0

while I<len(S):
  if S[I]==6:
    I=I+1
    continue
    

  else: 
    print(S[I])
    I=I+1

1
2
8
9
5
3
4
7
8
2
8
9

In [ ]:


for i in S:
  if i==6:
    continue
    print('Sucess')
  else:
    print(i)

1
2
8
9
5
3
4
7
8
2
8
9

In [ ]:
for i in S:
  if i==6:
    pass
    print('Sucess')
  else:
    print(i)

1
2
Sucess
8
9
5
Sucess
3
4
7
8
Sucess
2
8
9

#Function

In [ ]:
#print(),input(),sum(),append(),max(),min()........

S=[1,2,3,4,5]

sum(S)

15

In [ ]:
T=0
for i in S:
  T=T+i

T

15

In [ ]:
def Total(x):
  T=0
  for i in x:
    T=T+int(i)  
  return T

In [ ]:
Total([10,20,'30'])

60

In [ ]:
Total([4,5,6,7,8,9,4,5,6,1,2,3,4,5,8])

77

In [ ]:
sum([10,20,'30'])

TypeError: ignored

In [ ]:
def SQR(x):
  return x**2

def EXP(x,y):
  return x**y

In [ ]:
SQR(5)

25

In [ ]:
EXP(5,3)

125

In [ ]:
S=[1,2,3,4,5]

D=list(map(SQR,S))
D

[1, 4, 9, 16, 25]

In [ ]:
def SQR(x):
  return x**2

def EXP(x,y):
  return SQR(x)**y

#EXP(5,2)=> 25**2

625

In [ ]:
SQR(3)

9

In [ ]:
EXP(5,2)

625

In [ ]:

def Replace_vow(word):
  i=0
  D=[]
  while i<len(word):
    if word[i] in 'aeiouAEIOU':
      
      D.append('*')
      i=i+1
    else:
      D.append(word[i])
      i=i+1 
  
  return (''.join(D))

In [ ]:
Replace_vow(input())

Guvi Geek Network

'G*v* G**k N*tw*rk'

In [ ]:
Replace_vow(input())

Welcome to Data Science

'W*lc*m* t* D*t* Sc**nc* '

In [ ]:
# Calculator (+,-,*,/,%,pecentage,Sqar,Sqroot, exp...) Tak-1

#Unit Converter(weight,distance,temperature) Task-2

yes